* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:100% ;
}

:root{
     --Dark-Blue: hsl(233, 26%, 24%);
     --Lime-Green: hsl(136, 65%, 51%);
     --Bright-Cyan: hsl(192, 70%, 51%);
    /*### Neutral*/
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

body {
    font: 1.125em;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

button {
    border: none;
}

button, li {
    cursor: pointer;
}


/*mobile 375 version part 1*/


/*navegation zone 1*/


#navegation-row {
    position: absolute;
    width: 100%;
    background-color: var(--Very-Light-Gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    z-index: 1;
}

.shadow {
    display: none;
    position: absolute;
    top: 4.5em;
    left: 0;
    width: 100vw;
    height: 84vh;
}

.shadow.active {
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
    opacity: .7;
}

#nav-btn {
    border: none;
    background-color: transparent;
}

#navegation-row .btn-green {
    display: none;
}

.nav {
    display: none;
}

.nav.active {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10rem;
    width: 87%;
    height: 300px;  
    border-radius: 6px;
    background-color: var(--Very-Light-Gray);
}

#nav-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

ul .nav-item {
  margin: .5em 0;
  font-size: 1.3em;
}

ul .nav-item .nav-link {
  color: var(--Dark-Blue);
}

/*Header*/

#EasyBank-header {
    display: flex;
    flex-direction: column-reverse;
    background: url(./assets/images/bg-intro-mobile.svg) no-repeat;
    background-size: 100% 67%;
    height: 87vh;
}

/*corrigir erro ao rola a pagina*/


#container-image  {
    position: relative;
    top: 0;
    left: 0;
}

#container-image  img {
    position: absolute;
    top: -24.4em;
    left: 4em;
    width: 72%;
}



#EasyBank-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: .1em;
    text-align: center;
    padding: 1em 2em;
}

#EasyBank-information #EasyBank-title {
    font-size: 1.8em;
    font-weight: 300;
    margin: .7em 0 .5em 0;
    width: 300px;
    color: var(--Dark-Blue);
}

#EasyBank-information #EasyBank-info {
    width: 370px;
    padding-bottom: 1em;
    color: var(--Grayish-Blue);
}

/*btn-green*/  

.btn-green {
    background: linear-gradient(130deg, var(--Lime-Green),var(--Bright-Cyan)) ;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-weight: 700;
    color: var(--White);
}

.btn-green:hover {
    opacity: .7;
    transition:  opacity ease-in 1s;
}

/*main EasyabnkLevel1 and 2*/

main #EasybankLevel1, main #EasybankLevel1 #block  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4em;
    background-color: var(--Light-Grayish-Blue);
}




main #EasybankLevel1 {
    padding: 5em 2em;
}

main #EasybankLevel1 #Easybank-title {
    font-size: 1.6em;
    font-weight: 400;
    width: 250px;
    margin-bottom: 1em;
    color: var(--Dark-Blue);
}

main #EasybankLevel1 #Easybank-sub-info {
    width: 340px;
    margin: .5em 0;
    line-height: 25px;
    padding-bottom: 4em;
    color: var(--Grayish-Blue);
}

main #EasybankLevel1 #level1-grid {
    display: grid;
    grid-column: 150px;
    row-gap: 3em;
    padding: 0 1.5em;
    margin-top: 1em;
}

.mini-card .mini-img {
    margin: 1em 0;
}

.mini-card-content .mini-title-card {
    margin: 1.1em 0;
    font-weight: 400;
    color: var(--Dark-Blue);
}

.mini-info {
    line-height: 25px;
    color: var(--Grayish-Blue);
}

/*start of level 2*/

main #EasybankLevel2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.2em 2em;
    background-color: var(--Very-Light-Gray);
}



main #EasybankLevel2 #EasybankLevel2-title {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
}

main #EasybankLevel2 #level2-grid {
    margin-top: 2.2em;
    color: var(--Dark-Blue);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 5em;
}

.EasyBank-card {
    width: 330px;
    height: 450px;
    background-color: #fff;
    border-radius: 7px;
}

.EasyBank-card .EasyBank-img-container img {
    max-width: 100%;
    border-radius: 7px 7px 0 0 ;
} 

.EasyBank-card .EasyBank-content {
    padding: 0 2em;
    margin-top: 2em;
}

.EasyBank-content .sub-title {
    font-size: 1.1em;
    margin: .5em 0;
    cursor: pointer;
}

.EasyBank-content .sub-title:hover {
    color: var(--Lime-Green);
    opacity: .8;
}

.EasyBank-content .EasyBank-title {
    font-size: .7em;
    margin: .4em 0;
}


/*rodape*/

#rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.7em 0;
    background-color: var(--Dark-Blue);
}

#rodape-row #icon-rows{
    display: flex;
    justify-content: center;
}

#icon-rows .icon {
    margin: 1em .5em;
}

#icon-rows .icon i {
    font-size: 1.3em;
    color: var(--White);
}

#icon-rows .icon:hover i {
    color: var(--Lime-Green);
}

#footer-nav-container #grid-container {  
    margin: 1em 0 1.7em 0;
}

#footer-nav-container #grid-container .nav-item .nav-link {
    font-size: .8em;
    color: var(--Grayish-Blue);
    margin: .4em 0;
}

#footer-nav-container #grid-container .nav-item .nav-link:hover {
    color: var(--Lime-Green);
    opacity: .8;
}



#footer-final-content button {
    margin: 1em 0;
}

#footer-final-content #copyright {
    color: var(--Grayish-Blue);
}

@media (min-width:768px) {

    /*
    #navegation-row  {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    */

    .nav.active {
        display: block;
        position: absolute;
        z-index: 3;
        top: 17%;
        left: 22%;
        width: 50%;
        background-color: var(--Very-Light-Gray);
    }

    .shadow {
        top: 11%;
        left: 0;
        height: 54vh;
    }
    
    .shadow.active {
        display: flex;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
        opacity: .8;
        z-index: 2;
    }

    /*Header*/

#EasyBank-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(./assets/images/bg-intro-desktop.svg) no-repeat;
    background-size:65% 100%;
    background-position: top -2em right -5rem;
    height: 75vh;
}

/*corrigir erro ao rola a pagina*/

#container-image  img {
    position: absolute;
    top: -3.4em;
    left: 1em;
    width: 100%;
}

#EasyBank-information {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    position: relative;
    top: 1em;
    text-align: left;
    transform: scale(1.1);

    padding: 1em 4em;
}

/*main EasybankLevel1*/


main #EasybankLevel1, main #EasybankLevel1 #block  {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 2em;
}

main #EasybankLevel1 #block {
    margin-left: 2em;
}

main #EasybankLevel1 #level1-grid {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 1fr 1fr;
    gap: 3em 7rem;
    padding: 0 1.5em;
    margin-top: 1em;
}

main #EasybankLevel1 #Easybank-title {
    font-size: 2em;
    width: 450px;
    margin-bottom: .5em;
}

main #EasybankLevel1 #Easybank-sub-info {
    width: 400px;
    margin: .7em 0;
}

main #EasybankLevel2 {
    align-items: flex-start;
    padding: 5.2em 2em;
}

main #EasybankLevel2 #EasybankLevel2-title {
    font-size: 2em;
}


main #EasybankLevel2 #level2-grid {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5em 7em;
}


.EasyBank-card {
    width: 300px;
    height: 480px;
    background-color: #fff;
    border-radius: 7px;
}





}


@media (min-width: 1280px) {
    body {
        overflow-x: hidden;
    }

    /*navegation-bar*/

   
    .nav,.nav.active {
        display: block;
        top: 1%;
        left: 22%;
        background-color: transparent;
    }

    #nav-btn {
        display: none;
    }

    #navegation-row .btn-green {
        display:block;
    }

    #nav-container ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    ul .nav-item {
        margin: .6em .5em;
        font-size: 1.3em;
      }

    ul .nav-item:hover:after {
        content: '';
        position: relative;
        top: 40px;
        left: 4px;
        display: flex;
        width: 50px;
        height: 1px;
        background-color: green;
    }

   #nav-container > ul .nav-item:hover:nth-of-type(3):after , #nav-container > ul .nav-item:hover:nth-of-type(5):after {
        width: 68px;  
    }

    /*header*/
    

    #container-image  img {
        position: absolute;
        top:- 2.4em;
        left: 8em;
        width: 90%;
        overflow: visible;
    }

    
    #EasyBank-information {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:center;
        position: relative;
        top: 3em;
        text-align: left;
        transform: scale(1.2);
    
        padding: 1em 7.5em;
    }
      
  /* main #EasybankLevel1*/

    main #EasybankLevel1 #level1-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 3em 7rem;
        padding: 0 1.5em;
        margin-top: 1em;
    }

    main #EasybankLevel2 #level2-grid {
        margin: 50px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2em 4em;
    }

    #level1-grid {
        padding: 0 7em;
    }
    
    .EasyBank-card {
        width: 270px;
        height: 480px;
    }

    #rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2.7em 5rem;
    }

    #footer-nav-container #grid-container {  
        display: grid;
        position: relative;
        left: -7em;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        margin: 0;
        text-align: left;
    }

  

    #rodape-row  {
     position: relative;
     top: 1rem;
   }

    #rodape-row #icon-rows{
        margin-top: 2em;
    }


    #footer-nav-container  ul .nav-item:hover:after {
        width: 0px;
        height: 0px;
    }

    #footer-final-content {
        display: flex;
        flex-direction: column;
    }

    #footer-final-content .btn-green {
        margin-bottom: 2em;
    }

    
}

@media (min-width:1440px) {
    main #EasybankLevel2 #level2-grid {
        gap: 1em 4em;
        padding: 0 1em;
    }

    main #EasybankLevel2 #EasybankLevel2-title {
        margin-left: .7em;
    }
    
    
    .EasyBank-card {
        width: 290px;
    }   
}